@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:wght@100&family=Sofia&family=Young+Serif&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Young Serif", serif;
    background-color: #555;

}

.card{
    width: 350px;
    height: 320px;
    background-color: rgb(231, 238, 240);
    margin: 100px auto 0;
    border-radius: 10px;
    /* padding: 35px 25px; */
    position: relative;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    /* background: transparent; */

}
.propic{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: rgb(231, 238, 240);
    
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
align-items: center;
}
.propic img{
    width: 100%;
    object-fit: cover;
    
}
.propic img:hover{
    opacity: 0.6;
    transition: 0.5s;
}
.sicons{
    display: flex;
    position: absolute;
    gap: 12px;
    bottom: 16px;
    z-index: 3;
    padding-left: 0;
}
.sicons li{
    list-style: none;
    background: transparent;
}

.sicons li a{
    background: #fff;
    display: grid;
    /* background: transparent; */
    position: relative;
    place-items: center;
    padding: 5px;
    border-radius: 5px;
    color: black;
    height: 25px;
    width: 25px;
    border: 1px solid #CDCDCD;
    transition: 0.2s;
    opacity: 0;
}
.sicons li span{
    transition: 0.2s;
    transform: translateY(30px);

}
.sicons li a:hover{
    background: #1d1d1d;
    color: #fff;
    transition: 0.2s;
    transform: rotateX(360deg);
}
.sicons li a:hover .propic img{
    opacity: 0.6;
}

.propic:hover li a{
    opacity: 1;

}
.propic:hover li:nth-child(1) a{
    transition: 0.2s;
}
.propic:hover li:nth-child(2) a{
    transition: 0.3s;
}
.propic:hover li:nth-child(3) a{
    transition: 0.4s;
}
.propic:hover li:nth-child(4) a{
    transition: 0.5s;
}
.ptext{
    opacity: 0;
    padding: 5px 0px 5px 15px;
    border-radius: 10px;
}
.card:hover{
    height: 455px;
}
.card:hover .ptext{
    opacity: 1;
    background-color: rgb(231, 238, 240);
    transition: 0.3s;

}


