@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:wght@100&family=Sofia&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
.image {
  height: 50vmin;
  /* width: 10vmin; */
  display: flex;
  justify-content: center;
  text-align: center;
  /* width: 20vmin; */
  margin: auto;
  box-sizing: border-box;
}
.black {
  background: black;
  border-color: black;
  color: white;
}
.about {
  height: auto;
  width: auto;
  background: rgb(78, 76, 76);
  border-color: black;
  color: white;
  /* text-align: center; */
  font-family: 'Alice', serif;
  margin: auto;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 5vmin 0;
}
.about h1 {
  text-align: left;
  font-size: 8vmin;
  padding-left: 20px;
  padding-top: 20px;
}
.about p {
  padding: 10px;
  text-align: justify;
}
header {
  background-color: black;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  font-family: "Young Serif", serif;
  font-size: x-large;
  position: sticky;
  top: 0px;
}
.black2 {
  height: auto;
  width: 50%;

  margin: auto;
}
.navbar li {
  /* display: inline; */
  list-style-type: none;
  /* padding: 2vh 2vw; */
  background-color: rgb(78, 76, 76);
  border-radius: 5px;
  margin: 0 8px;
  text-align: center;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0;
}
.name {
  text-align: center;
  font-family: "Mooli", sans-serif;
}
.edu {
  display: grid;
  grid-template-columns: auto auto auto;
  font-family: 'Alice', serif;
}

.ed {
  text-align: left;
  font-size: 5vmin;
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'Sofia', cursive;
}
.ed1 {
    text-align: left;
    font-size: 5vmin;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Aboreto';
  }
@media (max-width: 1000px) {
  .edu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 70vw;
    margin-top: 10px;
  }
}
.pro {
  /* display: flex; */
  background-color: rgb(78, 76, 76);
  padding: 8px 5px;
  margin: 10px 0px;
  border-radius: 5px;
  font-family: 'Alice', serif;
}
.pjt h3 {
  text-align: left;
  font-size: 3vmin;
  padding-left: 20px;
  padding-top: 20px;
}
.des {
  padding: 8px 5px;
  margin: 0 5px;
  border-radius: 5px;
  width: fit-content;
  font-family: 'Alice', serif;
}
.exp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.ex {
  border-radius: 5px;
  padding: 5px 8px;
  text-align: justify;
  height: max-content;
  width: 60vw;
  font-family: 'Alice', serif;
  background-color: rgb(78, 76, 76);
}
.box1 {
  padding: 2vh 2vw;
  border-radius: 5px;
  margin: 0 8px;
  text-align: center;
}
.intr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 76, 76);
  max-width: 50%; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally within its parent */
  border-radius: 5px;
  max-height: 2%;
  font-family: 'Alice', serif;
}

li a{
    text-decoration: none;
    color: white;
}
nav button{
    padding: 2vh 2vw;
    background-color: rgb(78, 76, 76);
    border-radius: 5px;
    /* margin: 0 8px; */
    box-shadow: none;
    cursor: pointer;
    color: white;
    font-family: 'Alice', serif;
    border: none;
    /* width: 15vw; */
    /* font-size: 100%; */
}
nav button:hover{
    background-color: black;
    font-weight: bolder;
    box-shadow: rgba(143, 143, 143, 0.35) 0px 5px 15px;

}
@media (max-width: 450px) {
    nav button{
        width: 40vw;
    }
    .navbar li{
        margin-top: 8px;
    }
    
}
html {
    scroll-behavior: smooth;
  }
  footer{
    box-sizing: border-box;
    background-color: rgb(44, 43, 43);
    border-radius: 10px;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}
footer p{
    padding: 0 2vw;
}
footer a{
    text-decoration: none;
    color: white;
}

footer span i{
    line-height: 5px;
    font-size: 24px;
}
.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.ctc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: x-large;
    margin: 10px;
    font-family: 'Sofia', cursive;
}
.box h2{
    margin: 5px;
}
/* .box p{
    margin: 8px;
} */
.box h4{
    margin: 0px;
}
.box p{
    text-align: left;
    margin: 0px;
}
.box {
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 76, 76);
    align-items: center;
  padding: 8px 5px;
  margin: 5px 5px;
  border-radius: 5px;
  height: max-content;
  
}
.he{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.para{
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: rgb(78, 76, 76); */
    width: 100%;
    align-items: center;
    margin-top: 15px;
    /* flex-direction: column; */
    column-gap: 5px;
    row-gap: 5px;
    margin: 10px;
}